/* Categories.module.css */

.categoriesPage {
  min-height: 100vh;
}

.mainSection {
  padding: 0 5% 5rem;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .mainSection {
    padding: 0 1rem 3rem;
  }
}
