.mainSection {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 5% 6rem;
}

.legalContent {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem;
  line-height: 1.8;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 40px;
}

@media (max-width: 768px) {
  .legalContent {
    padding: 2rem !important;
  }
}
