/* SearchHeader.module.css */

.searchBarWrapper {
  width: 100%;
  position: relative;
  z-index: 10;
}

.inputSection {
  width: 100%;
}

.skeletonInputWrapper {
  position: relative;
  width: 100%;
}
