.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.submitBtn {
    margin-top: 1rem;
    width: 100%;
}

.formSkeleton {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.skeletonInput {
    height: 70px;
    border-radius: 14px;
}

.skeletonBtn {
    height: 54px;
    border-radius: 14px;
    margin-top: 1rem;
}
